
li.CartItem {
  display: flex;
  align-content: space-between;
  align-items: center;
}

li.CartItem p {
  flex: 1;
  padding: 12px 24px;
  font-size: 150%;
}

li.CartItem p.name {
  font-weight: bold;
}

li.CartItem p.price {
  max-width: 50px;

}
